<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Movie List</title>
    <link rel="stylesheet" href="movies.css" />
  </head>

  <body>
    <h1>Movie List</h1>

    <form action="/movies" method="get">
        <label for="query">Search: </label>
        <input type="text" name="query" id="query" />

        <input type="submit" value="Search" />
    </form>

    <p>

      <%= @message %>

    </p>

    <ul class="movie_list">

        <% @movies.each do |movie| %>
          <li>
            <a href= <%= "movies/#{movie.split("^$")[0]}/#{movie.split("^$")[1]}" %>><%= movie.split("^$")[0].tr("_"," ") %></a>
          </li>
        <% end %>

    </ul>


    <a href= <%= "movies?page=#{ @page-1}" %> > Previous 20 Results </a>
    | <a href= <%= "movies?page=#{ @page+1 }" %> > Next 20 Results </a>

  </body>
</html>
